.list {
  margin-top: 30px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
  background-color: #FFFDE3;
  border: 2px solid #AFB4FF;
  border-radius: 10px;
  color: #2C3639;
}

.layout {
  text-align: center;
  grid-column: 1 / -1;
}

.noTodos {
  margin-bottom: -15px;
  padding-block: 15px;
  box-shadow: 0px 3px 20px rgb(0 0 0 / 25%);
  border: 2px solid #AFB4FF;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 2
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .list {
    display: flex;
    flex-flow: column nowrap;
  }
}